{% extends 'base.html' %} {% block content %}
  <title>Pacientes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <div class="tela">
    <div class="container">
        <h1 class="center">Pacientes</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Sexo</th>
                    <th>CPF</th>
                    <th>Tel.</th>
                    <th>E-mail</th>
                    <th>Obs.</th>
                    <!-- Adicione mais colunas conforme necessário -->
                </tr>
            </thead>
            <tbody>
                {% for row in dados %}
                <tr>
                    <td>{{ row[0] }}</td> <!-- ID -->
                    <td>{{ row[1] }}</td> <!-- Nome -->
                    <td>{{ row[2] }}</td> <!-- Nascimento -->
                    <td>{{ row[3] }}</td> <!-- Sexo-->
                    <td>{{ row[4] }}</td> <!-- Cpf -->
                    <td>{{ row[5] }}</td> <!-- Tel. -->
                    <td>{{ row[6] }}</td> <!-- E-mail-->
                    <td>{{ row[7] }}</td> <!-- Obs -->
                    <!-- Adicione mais células de acordo com o número de colunas -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

      <div class="container">
            <div class="row">
                <div class="col">
                    <button id="btnCadastrar" class="btn btn-primary">Cadastrar</button>
                </div>

                <div class="col text-center">
                    <button id="btnEditar" class="btn btn-primary">Editar</button>
                </div>

                <div class="col text-right">
                    <button id="btnApagar" class="btn btn-primary">Apagar</button>
                </div>
            </div>
            <div class="modal" id="confirmacaoExclusaoModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmação de Exclusão</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza de que deseja excluir os dados?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="btnConfirmarExclusao">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
    document.getElementById("btnCadastrar").addEventListener("click", function () {
        window.location.href = '/cadastroPaciente';
    });

    </script>

{% endblock %}